body {
    background-color: #6B21A8;
    color: white;
}

div {
    background-color: #F59E0B;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

div.enlaces {
    background-color: #374151;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

a{
color: white;
margin: 15px;
}

  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .pan {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s;
  }